 .nav-item a  {
  color: white !important;
}
.dropdown-item:hover{
  color: black !important;
}
.slider-item{

  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}
.slick-next{
  display: none !important;
}
.nav-position{
  position: sticky !important;
  top: 0;
  z-index: 1000;

}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.movie-info {
  position: absolute;
  bottom: 20%; /* Align to the bottom of the parent container */
  left: 2%;   /* Align to the left of the parent container */
  background: rgba(76, 76, 76, 0.6); 
  color: #fff;
  padding: 15px 20px;
  border-radius: 0; /* Remove border-radius for full corner alignment */
  width: 70%; /* Make it span the full width of the container */
  box-shadow: none; /* Optional: remove box-shadow for cleaner look */
}


.movie-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 1rem;
  line-height: 1.5;
}
.notfound{
  font-size: 50px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}
.notfound1{
  font-size: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}
footer {
  background-color: #1c1c1c;
  color: #fff;
}

footer h5 {
  margin-bottom: 1rem;
  font-weight: bold;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0.5rem 0;
}
.grid-div{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
@media screen and (max-width: 767px) {
  .movie-info {
    display: none;
  }
  .grid-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
  }

}
@media screen and (min-width: 1400px) {
  .movie-info {
    display: block;
    bottom: 3%; 
     
  }
  .grid-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  

}